.container{

    display: grid;

    grid-template-columns: 1fr 5fr;

    grid-template-rows: 1fr 5fr;

    height: 100vh;

}

.footer{

    grid-row: 1/3;

    background-color: #0ea5e9;

    display: grid;

    grid-template-columns: 1fr;

    grid-template-rows: 1fr 3fr 2fr 5fr;

    gap: 50px;

    color: white;

}

.footer > div{

    display: grid;

    grid-template-columns: 1fr 2fr;

}

.footer > div > span, .footer > div > h1{

    grid-column: 2/3;

}
.footer > div > span{
    
    font-size: 20px;

    font-weight: bold;

}

.header{

    display: grid;

    grid-template-rows: 1fr 1fr;

    grid-template-columns: 2fr 1fr;

}

.header > div > span{

    font-weight: bold;

}

.content{

    background-color: #e2e8f0;

    display: grid;

    grid-template-columns: 3fr 1fr;

    grid-template-rows: 1fr 1fr;

    gap: 25px;

    padding: 25px;

}

.main-content{

    grid-row: 1/3;

}

.main-content > div{

    display: grid;

    grid-template-columns: repeat(2, minmax(250px,1fr));

    grid-template-rows: repeat(3, minmax(200px,22vh));

    gap: 25px;

}

.main-content > div > div{

    background-color: white;

    padding: 20px;

    padding-top: 30px;

    border-left: solid 10px #fbbf24;

    border-radius: 10px;

    display: grid;

    grid-template-rows: 1fr 3fr 1fr;

}

.main-content > div > div > span{

    color: #475569;

    font-size: calc(6px + 0.5vw);

}


body{

    margin: 0px;

    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;

}

h3, h4, h5{

    margin: 0px;

}

h2{

    margin-top: 0px;

}

.content > div > span{

    font-weight: bold;

    font-size: 20px;

}

button{

    background-color: #0ea5e9;

    border-radius: 50px;

    color: white;

    width: 100px;

    height: 40px;

    font-size: 15px;

    font-weight: bold;

    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;

    border: solid 0px;
}

.header > div{

    display: flex;

    align-items: center;

    justify-content: center;

    gap: 25px;

}

.second, .third{

    border-radius: 10px;

    background-color: white;

    display: grid;

    padding: 30px;

    width: max(200px, 15vw);

}

.second{

    grid-template-rows: repeat(3, minmax(75px, 8vh));

}

.second > div > span{

    font-size: calc(5px + 0.5vw);

    color: #475569;
    
}

.third{

    grid-template-rows: repeat(4, minmax(56px, 6vh));

    grid-template-columns: 1fr 2fr;

}

.third > div{

    grid-column: 2/3;

}

.mid{

    border-top: 2px solid #e2e8f0;

    border-bottom: 2px solid #e2e8f0;

}

#search{

    border: solid 0px;

    background-color: #e2e8f0;

    border-radius: 20px;

    width: max(350px, 35vw);

    height: 40px;

    padding: 15px;

}

.header > .profile{

    display: grid;

    grid-template-columns: 100px 1fr;

    grid-template-rows: 1fr 75px;

    justify-content: flex-start;

    align-items: flex-start;

    gap: 0px;

    padding-left: max(60px, 8vw);

}

.profile > img{

    grid-row: 1/3;

    width: 80px;

    height: auto;

}

.third > div > span{

    color: #475569;

    font-size: 14px;

}

.footer > div > img{

    width: 25px;

    align-self: center;

    justify-self: center;

    filter: brightness(0) invert(1);

    grid-column: 1/2;

}

#egg{

    width: 50px;

}

img{

    width: 25px;

}

.icon{

    display: flex;

    justify-content: flex-end;

    align-items: flex-end;

}

.icon > img{

    margin: 10px;

}

.footer > div > span {

    align-self: center;

}

.profile-img{

    width: 50px;

    height: 50px;

    border-radius: 100%;

}